/home/noor/A/projects/listin_agent/agent/__pycache__
/home/noor/A/projects/listin_agent/coral-shoreline-439510-f3-9756ab4add31.json
/home/noor/A/projects/listin_agent/listin_agent_venv
/home/noor/A/projects/listin_agent/__pycache__
