# Python
__pycache__/
*.pyc
*.pyo

# Virtual envs
listin_agent_venv/
venv/
.env/
.envrc

# Google Cloud credentials (DO NOT UPLOAD!)
*.json
!agent/listin_seller_data.json

# Logs
*.log

# OS & editor
.DS_Store
*.swp
*.swo
.idea/
.vscode/

