# Google Cloud Configuration
GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_APPLICATION_CREDENTIALS=PATH/TO/GOOGLE/CREDENTIALS.json
GOOGLE_PROJECT_ID=PROJECT_ID_IN_CREDENTIALS
GOOGLE_CLOUD_LOCATION=us-west1
MODEL_NAME=gemini-2.5-flash-lite
